body {
  background-color: #f3ddbe;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingsPage {
  background: #fdf5e9;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.settings-option {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: #ffffff;
  transition: 0.25s ease;
  cursor: pointer;
}

.settings-option:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.settings-btn {
  border: none;
  background: #14532D;
  color: white;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 18px;
}

.settings-option h5 {
  margin: 0;
  font-family: "Baloo Bhaijaan 2";
  color: #14532D;
}

.settings-link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.dark {
  background: #18181b;
  color: white;
}

.dark .settingsPage {
  background: #27272a;
}

.dark .settings-option {
  background: #3f3f46;
}

.dark .settings-option h5 {
  color: white; }