*{
    margin: 0;
    padding: 0;
}
.TeamsContainer{
    border-radius: 10px;
    padding: 20px;
    width:80%;
    margin: 2% 10%;
    background-color: rgb(245, 245, 245);
}
.dropdown2{
    margin-top: 10px  ;
}
*{
    margin: 0;
    padding: 0;
}
.TeamsContainer > h1{
    font-family: "Baloo Bhaijaan 2", serif;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
}

  .tasksContainer > button{
    background-color: rgb(63, 61, 61);
    padding: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
  }
  .createTaskContainer{
    background-color: black;
    display:none;
    color: white;
    border-radius: 10px;
    width: 60%;
    margin-top: 5%;
    align-self: center !important;
    margin-left: 20%;
    text-align: center !important;
  }
  .formDetail{
    margin-top: 20px;
  }
  .formDetail input{
    background-color: black;
    border: 1px gray solid;
    border-radius: 5px;
    text-align: center;
    margin-left: 5%;
  }
  .formDetail input::placeholder{
    color: rgba(155, 149, 149, 0.854);
  }
.Milestones{
    margin-top: 10% !important;
}
p{
    color: grey;
}
.submitBtn{
    padding:10px 20px !important;
    background-color: rgb(122, 119, 119) !important;
    color: white !important;
}
.Members{
    margin-top: 20px;
}